@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>





<a asp-action="ReserveForm" style="font-size:larger;color:brown">
Go to ReserveForm page
</a><br>

<a href="GuestResponses" style="font-size:larger;color:brown">
Go to ReserveForm table
</a>


   



