@{ ViewData["Title"] = "My ReserveForm Page"; }
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

@model reservation_new.Models.GuestResponse

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div class="text-center">
        <title>The Reservation Form</title>
        <link rel="stylesheet" href="~/css/Style.css">
    </div>
</head>

<body>
    <h3>This is Reservation Form View</h3>
    <form name="f1" asp-action="ReserForm" method="post">
        <div asp-validation-summary="All"></div>
        <table border="0">
            <tr>
                <td>Your Name : </td>
                <td><input asp-for="name" data-val="true" class="input-validation-error" /></td>

            </tr>
            <tr>
                <td>Your Phone : </td>
                <td><input asp-for="phone" class="input-validation-error" data-val="true" /></td>
            </tr>
            <tr>
                <td>Your EMail : </td>
                <td><input asp-for="email" class="input-validation-error" data-val="true" /></td>
            </tr>
            <tr>
                <td>Will you Attend ? </td>
                <td>
                    <select asp-for="WillAttend" data-val="true">
                        <option value="">select one...</option>
                        <option value="true">Yes, I will attend!!</option>
                        <option value="false">No, I can't be there!!</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="b1" id="b1" value="Submit Reservation" />
            </tr>
    </form>
</body>
